registry=https://registry.npmmirror.com

strict-peer-dependencies=false
auto-install-peers=true

use-node_version=20.14.0
save-workspace-protocol=rolling
save-prefix=*
prefer-workspace-packages=true
include-workspace-root=true
link-workspace-packages=true
hoist-workspace-packages=false
update-notifier=false
ignore-workspace-root-check=true

enable-pre-post-scripts=false
package-manager-strict=false

use-lockfile-v6=true

node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/

PUPPETEER_DOWNLOAD_HOST=https://npmmirror.com/mirrors
