---
import { getCollection } from 'astro:content'
import { SITETITLE } from 'astro:env/client'
import Layout from '@/layouts/Layout.astro'
import { allCollectionsEntries, type Collections } from '@/content/config'
import BlogCard from '@/components/BlogCard.astro'
import dayjs from 'dayjs'
import 'dayjs/locale/zh-cn'

export function getStaticPaths() {
  return [
    { params: { slug: undefined } },
    { params: { slug: 'all' } },
    ...allCollectionsEntries.map(v => ({ params: { slug: v } }))
  ]
}

const { slug } = Astro.params

const allCollectionPosts = await Promise.all(
  allCollectionsEntries.map((collection) => getCollection(collection))
)

let posts = allCollectionPosts.flat().sort((a, b) => dayjs(a.data.date).diff(b.data.date, 'second') > 0 ? -1 : 1)
let title = '全部'

if (slug !== undefined && slug !== 'all') {
  title = slug
  posts = allCollectionPosts[allCollectionsEntries.indexOf(slug as Collections)]
}
---

<Layout title={SITETITLE}>
  <main class="px-4 my-0 w-full mx-auto max-w-7xl md:px-6 min-h-[80vh]">
    <ul class="gap-6 flex-wrap list-none m-0 p-0 mt-16 hidden md:flex">
      {
        ['全部', ...allCollectionsEntries].map((type) => (
          <li>
            <a
              class:list={[
                'block min-w-14 relative no-underline text-sm transition-colors',
                {
                  'text-neutral-900 dark:text-neutral-200 before:absolute before:content-[""] before:w-full before:h-0.5 before:dark:bg-neutral-200 before:bg-neutral-900 before:top-[calc(100%+12px)]':
                    title === type
                }
              ]}
              {...(title === type
                ? {}
                : {
                    href: `/slug/${allCollectionsEntries.includes(type as Collections) ? type : 'all'}`
                  })}
            >
              <img
                class="block h-9 mx-auto"
                src={`/media-source/${allCollectionsEntries.includes(type as Collections) ? type : 'all'}-ico.png`}
              />
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex flex-col gap-3 md:grid md:gap-6 grid-cols-3 my-10">
      {posts.map((post) => <BlogCard tag={slug as Collections} post={post} />)}
    </div>
  </main>
</Layout>
